body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.cabeçalho {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
}

.container {
    margin: 50px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.minCar{
    font-size: 12px;
    margin: 0 0 15px 0;
}

button {
    padding: 10px 20px;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#message {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.texto-voltar {
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(145, 145, 145);
    padding: 5px;
    color: rgb(145, 145, 145);
    border-radius: 5px;
}

.rodape {
    display: flex;
    align-items: center;
    background-color: red;
    padding: 30px;
    gap: 400px;
    justify-content: center;
    margin-top: 100px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rodape__titulo, .rodape__link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.endereço {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 12px;
}

