.cabeçalho {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#message {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.texto-voltar {
    text-decoration: none;
    color: black;
}

.rodape {
    display: flex;
    align-items: center;
    background-color: red;
    padding: 30px;
    gap: 400px;
    justify-content: center;
    margin-top: 100px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rodape__titulo, .rodape__link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.endereço {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 12px;
}

