.cabeçalho {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px;
}

.menu__nav {
    display: flex;
    justify-content: center;
    background-color: red;
    gap: 30px;
}

.menu__link {
    text-decoration: none;
    color: white;
    padding: 15px;
    gap: 15px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rodape {
    display: flex;
    align-items: center;
    background-color: red;
    padding: 30px;
    gap: 400px;
    justify-content: center;
    margin-top: 100px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;

}

.rodape__titulo, .rodape__link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.rodape__link{
    margin-top: 10px;
}

.cadastro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-se;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    justify-content: center;
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;;
}

button:hover {
    background-color: rgb(122, 6, 6);
}

.endereço {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 12px;
}

.divTituloProd{
    margin-left: 50px;
    margin-top: 80px;
}   

.catalogoProd{
    margin-left: auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.imgProd{
    height: 200px;
    padding: 0 30px;
}

figure{
    background-color: rgba(241, 240, 240, 0.433);
    padding: 20px 50px;
    border-radius: 10px;

}

.divTituloProd{
    margin-left: 50px;
    margin-top: 80px;
}   

.catalogoProd{
    margin-left: auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.imgCat{
    height: 250px;
    padding: 30px;
    border-radius: 50px;
}

figure{
    background-color: rgba(241, 240, 240, 0.433);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nomeProd{
    font-size: 24px;
}
